body {
  background-color: white;
  color: #5599ee;
}
.titre {
  width: 180px;
  clear: left;
  float: left;
  display: inline-block;
  margin-top: 10px;
}
.zoneMEDIC {
  width: 30px;
  float: left;
  color: #7091bb;
  width: 20%;
}
.zonePRATI {
  width: 300px;
  float: left;
  color: #7091bb;
  margin-top: 10px;
  padding-left: 20px;
}
.zoneRAP {
  width: 30px;
  float: left;
  color: #5599ee;
}
.zoneVISIT {
  width: 30px;
  float: left;
  color: #7091bb;
}
#haut {
  margin: 2px 2px 2px 2px;
  height: 6%;
}

#gauche {
  float: left;
  width: 18%;
  background-color: white;
  height: 100%;
}

#droite {
  float: left;
  width: 80%;
}

#bas {
  margin: 10px 2px 2px 2px;
  clear: left;
  background-color: #77aadd;
  color: white;
  height: 88%;
  padding-left: 19px;
  padding-bottom: 19px;
}
